/Makefile.in
/Makefile
/Makefile.am
/alignof.h
/alloca.in.h
/close-hook.c
/close-hook.h
/errno.in.h
/gethostname.c
/malloca.c
/malloca.h
/malloca.valgrind
/setenv.c
/sockets.c
/sockets.h
/stddef.in.h
/stdint.in.h
/stdlib.in.h
/sys_socket.in.h
/unistd.in.h
/w32sock.h
/wchar.in.h
