# libtool macros
/libtool.m4
/lt*.m4

/00gnulib.m4
/errno_h.m4
/gethostname.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/include_next.m4
/sockets.m4
/sockpfaf.m4
/stddef_h.m4
/sys_socket_h.m4
/unistd_h.m4
/warn-on-use.m4
/wchar_t.m4
