*.o
*.lo
*.la

/azlib/logging/Logging.pb.cc
/azlib/logging/Logging.pb.h
/azlib/logging/Logging_pb2.py
/azouk/logging/type_id_constants.h
/azouk/logging/type_id_constants.py
/azouk/release.h
/azouk/release.py
/multiplexer/Multiplexer.pb.cc
/multiplexer/Multiplexer.pb.h
/multiplexer/Multiplexer_pb2.py
/multiplexer/multiplexer.constants.h
/multiplexer/multiplexer_constants.py
/mxcontrol
/server
